ASSIGNMENT NO:5

In [ ]:
AIM: To learn about
    1. Logistic Regression 
    2. Differentiate between Linear and Logistic Regression 
    3. Sigmoid Function 
    4. Types of LogisticRegression 
    5. Confusion Matrix Evaluation Metrics

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('C:\\Users\\Welcome\\Downloads\\Social_Network_Ads.csv')

In [4]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
print(df.head())

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
df = pd.get_dummies(df, drop_first=True)

In [7]:
print(df.isnull().sum())

User ID            0
Age                0
EstimatedSalary    0
Purchased          0
Gender_Male        0
dtype: int64

In [9]:
 df = df.fillna(df.mean())

In [10]:
cov_matrix = df.cov()
print(cov_matrix)

                      User ID           Age  EstimatedSalary    Purchased  \
User ID          5.134915e+09   -541.682870     1.737143e+08   244.836284
Age             -5.416829e+02    109.890702     5.548738e+04     3.131165
EstimatedSalary  1.737143e+08  55487.380952     1.162603e+09  5924.367168
Purchased        2.448363e+02      3.131165     5.924367e+03     0.230269
Gender_Male     -9.056177e+02     -0.386917    -1.031404e+03    -0.010201

                 Gender_Male
User ID          -905.617719
Age                -0.386917
EstimatedSalary -1031.403509
Purchased          -0.010201
Gender_Male         0.250526

In [12]:
print(df.columns)

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [13]:
X = df.drop('Purchased', axis=1)
Y = df['Purchased']

In [15]:
X

      User ID  Age  EstimatedSalary  Gender_Male
0    15624510   19            19000            1
1    15810944   35            20000            1
2    15668575   26            43000            0
3    15603246   27            57000            0
4    15804002   19            76000            1
..        ...  ...              ...          ...
395  15691863   46            41000            0
396  15706071   51            23000            1
397  15654296   50            20000            0
398  15755018   36            33000            1
399  15594041   49            36000            0

[400 rows x 4 columns]

In [16]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [21]:
X_train

      User ID  Age  EstimatedSalary  Gender_Male
3    15603246   27            57000            0
18   15704583   46            28000            1
202  15735549   39           134000            0
250  15810075   44            39000            0
274  15692819   57            26000            0
..        ...  ...              ...          ...
71   15726358   24            27000            0
106  15706185   26            35000            0
270  15680752   43           133000            0
348  15579212   39            77000            1
102  15584545   32            86000            0

[320 rows x 4 columns]

In [22]:
X_test

      User ID  Age  EstimatedSalary  Gender_Male
209  15697424   46            22000            0
280  15609669   59            88000            0
33   15776733   28            44000            0
210  15724536   48            96000            0
93   15699284   29            28000            0
..        ...  ...              ...          ...
246  15638003   35            50000            0
227  15685346   56           133000            1
369  15624755   54            26000            0
176  15609653   35            47000            0
289  15713912   37            78000            0

[80 rows x 4 columns]

In [23]:
Y_train

3      0
18     1
202    1
250    0
274    1
      ..
71     0
106    0
270    0
348    0
102    0
Name: Purchased, Length: 320, dtype: int64

In [24]:
Y_test

209    0
280    1
33     0
210    1
93     0
      ..
246    0
227    1
369    1
176    0
289    1
Name: Purchased, Length: 80, dtype: int64

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [26]:
X_train

array([[-1.19424348, -1.06675246, -0.38634438, -1.        ],
       [ 0.21592346,  0.79753468, -1.22993871,  1.        ],
       [ 0.64683448,  0.11069205,  1.853544  , -1.        ],
       ...,
       [-0.11569962,  0.50317355,  1.82445454, -1.        ],
       [-1.52869143,  0.11069205,  0.19544481,  1.        ],
       [-1.45447944, -0.57615058,  0.45724994, -1.        ]])

In [27]:
X_test

array([[ 0.11630156,  0.79753468, -1.40447546, -1.        ],
       [-1.10486346,  2.07309956,  0.51542886, -1.        ],
       [ 1.21993527, -0.96863208, -0.76450736, -1.        ],
       [ 0.49358178,  0.99377543,  0.74814454, -1.        ],
       [ 0.14218461, -0.87051171, -1.22993871, -1.        ],
       [ 1.5250491 , -0.77239133, -0.24089709, -1.        ],
       [-0.68868909,  0.89565505,  1.06812859, -1.        ],
       [ 1.36270951, -0.87051171,  0.36998156, -1.        ],
       [ 0.4526142 ,  0.20881242,  0.13726589,  1.        ],
       [-1.08911099,  0.40505317, -0.15362871,  1.        ],
       [ 0.53219762, -0.28178945, -0.15362871, -1.        ],
       [ 1.24911632,  1.4843773 , -1.05540195, -1.        ],
       [ 1.20364008, -1.45923396, -0.64814952, -1.        ],
       [-1.3058189 , -1.75359508, -1.37538601, -1.        ],
       [ 0.50922294, -0.77239133,  0.4863394 ,  1.        ],
       [ 1.16517732, -0.28178945,  1.09721805,  1.        ],
       [-1.05831572,  1.38625693, -0.93904411, -1.        ],
       [-1.28138307,  0.79753468,  0.10817643, -1.        ],
       [ 0.07495826,  0.11069205, -0.82268628,  1.        ],
       [ 1.20048124,  1.77873843, -0.29907601,  1.        ],
       [ 1.18439479, -1.55735433, -1.25902817, -1.        ],
       [ 0.11994745, -0.87051171,  0.28271318,  1.        ],
       [-1.34280661,  0.89565505, -1.37538601,  1.        ],
       [-0.01244574,  2.07309956,  0.16635535, -1.        ],
       [-0.89834178, -1.85171546, -1.49174384,  1.        ],
       [ 0.2366299 ,  1.28813655, -1.37538601,  1.        ],
       [ 0.69708377,  0.40505317,  0.28271318,  1.        ],
       [-0.93089041, -0.0855487 , -0.50270222,  1.        ],
       [-0.22606438,  1.68061805,  1.59173886, -1.        ],
       [-0.23622278, -1.85171546, -1.43356492, -1.        ],
       [ 0.03891681,  0.79753468, -0.85177573, -1.        ],
       [-0.36410731, -1.85171546, -0.00818141,  1.        ],
       [-0.1179957 , -0.18366908,  2.14443859,  1.        ],
       [ 1.64781268, -0.96863208,  0.25362372,  1.        ],
       [ 1.72618544,  0.20881242,  1.06812859,  1.        ],
       [-0.13594684, -0.28178945,  0.13726589,  1.        ],
       [ 1.17420855, -0.0855487 , -0.4445233 ,  1.        ],
       [ 0.39650643,  0.01257167, -0.15362871, -1.        ],
       [ 1.02333543, -1.16487283, -1.17175979,  1.        ],
       [-0.31902071, -1.94983583, -0.06636033, -1.        ],
       [-0.25676224,  0.99377543, -1.08449141,  1.        ],
       [-0.55565579, -1.36111358, -0.4445233 , -1.        ],
       [ 0.80252241, -1.94983583, -0.53179168,  1.        ],
       [-0.80581684,  0.89565505, -1.46265438,  1.        ],
       [ 0.28401258, -1.75359508, -0.61906006,  1.        ],
       [ 0.36953797,  0.60129393,  1.99899129, -1.        ],
       [ 1.26347724, -0.87051171, -0.26998655,  1.        ],
       [ 1.19202054, -0.67427095,  0.02090805, -1.        ],
       [ 0.35612331,  0.99377543, -0.85177573,  1.        ],
       [-1.49470949, -0.37990983, -0.79359682, -1.        ],
       [ 1.52770699, -1.26299321,  0.25362372,  1.        ],
       [-1.08368389,  1.4843773 ,  0.3408921 , -1.        ],
       [ 1.69399862,  0.01257167, -0.4445233 , -1.        ],
       [ 0.94439213, -1.26299321,  0.28271318,  1.        ],
       [ 1.45868552, -0.0855487 ,  0.28271318, -1.        ],
       [ 1.30444482, -1.06675246, -1.14267033, -1.        ],
       [-1.32687323,  2.17121993,  0.92268129,  1.        ],
       [ 1.46941446, -1.16487283,  1.38811264, -1.        ],
       [-1.50105501, -0.67427095,  0.10817643,  1.        ],
       [ 0.14166973, -0.67427095,  0.16635535,  1.        ],
       [-0.15165758,  0.3069328 , -0.56088114, -1.        ],
       [-1.70295671, -0.28178945, -0.38634438, -1.        ],
       [ 0.84870834,  1.38625693,  0.57360778, -1.        ],
       [-0.30337955, -0.96863208,  0.4863394 , -1.        ],
       [-1.33662808, -0.96863208, -0.32816546,  1.        ],
       [ 0.55645254, -1.06675246,  1.94081237, -1.        ],
       [-1.41448596,  0.40505317,  0.57360778, -1.        ],
       [ 0.79509147,  0.89565505,  2.14443859, -1.        ],
       [ 0.95413306,  0.11069205, -0.32816546, -1.        ],
       [ 1.30060411, -0.4780302 ,  1.24266535, -1.        ],
       [ 1.19403831,  1.38625693,  1.96990183, -1.        ],
       [ 1.65376857, -1.85171546,  0.42816048,  1.        ],
       [ 0.55254225, -1.06675246, -0.35725492,  1.        ],
       [-0.69284986, -1.45923396, -1.46265438,  1.        ],
       [-0.23289695,  0.89565505, -1.05540195,  1.        ],
       [-0.71057836, -0.28178945, -0.5899706 , -1.        ],
       [-0.05177127,  1.77873843,  1.82445454,  1.        ],
       [-0.89493246,  1.58249768, -1.28811763, -1.        ],
       [-1.10508611, -0.28178945, -0.67723898, -1.        ],
       [ 0.34574226, -0.0855487 ,  0.22453427, -1.        ]])

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)

LogisticRegression()

In [34]:
Y_pred_train = logreg.predict(X_train)
Y_pred_test = logreg.predict(X_test)

In [35]:
Y_pred_train

array([0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [36]:
Y_pred_test

array([0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0], dtype=int64)

In [38]:
from sklearn.metrics import precision_score, confusion_matrix, accuracy_score, recall_score
cm = confusion_matrix(Y_test, Y_pred_test)

In [40]:
print("Confusion Matrix:")
print(cm)

Confusion Matrix:
[[50  2]
 [ 7 21]]

In [41]:
accuracy = accuracy_score(Y_test, Y_pred_test)
print("Accuracy:", accuracy)

Accuracy: 0.8875

In [42]:
precision = precision_score(Y_test, Y_pred_test, average='binary')  # Adjust 'binary' or 'micro' as needed
print("Precision:", precision)

Precision: 0.9130434782608695

In [43]:
recall = recall_score(Y_test, Y_pred_test, average='binary')  # Adjust 'binary' or 'micro' as needed
print("Recall:", recall)

Recall: 0.75

NAME:SHREYA JADHAV
ROLLNO:13207